<!DOCTYPE html>
<html ng-app="cast" ng-controller="castController">
<head lang="en">
    <meta charset="UTF-8">
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body class="forward">

    <div class="header">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            <span>{{title}}</span>
          </h2>
          <span flex></span>
          <a href ui-sref="dashboard"><md-button md-no-ink class="md-raised md-warn menu-link">Dashboard</md-button></a>
          <a href ui-sref="categories"><md-button md-no-ink class="md-raised md-warn menu-link">Categories</md-button></a>
          <a href ui-sref="tags"><md-button md-no-ink class="md-raised md-warn menu-link">Tags</md-button></a>      
        </div>
      </md-toolbar>
    </div>

    <div layout="row" layout-align="start start">
      <section layout="row" flex>
          <md-content flex layout-padding>
            <div layout="column" layout-fill layout-align="top center">
              <div ui-view="main" class="slide-animation" layout-padding></div>
            </div>
            <div flex></div>
          </md-content>
        </section>
    </div>

    <div class="footer">
      <div class="container-fluid">
        <div class="footer-inner">
          <p class="text-center"></p>
        </div>
      </div>
    </div>
</body>
</html>